{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block sidebar %}
<a href="{% url 'post_search' %}"><img src="{% static 'equipment/images/search.png' %}" class="search-img"></a>
<br>
{% if request.user.is_authenticated %}
    <div id="name">{{ request.user.first_name }} {{ request.user.last_name }}</div>
{% endif %}
{% endblock sidebar %}

{% block content %}
<div class='show_post'>
    <p><img class="show-img" src="{{post.photo.url}}"></p>
    <div class="post-text">
        <p><strong>наименование: </strong>{{ post.title }}</p>
        <p><strong>место установки: </strong>{{ post.place }}</p>
        <p><strong>категория оборудования: </strong>{{ post.cat}}</p>
        <p><strong>описание: </strong>{{ post.description }}</p> 
    </div><br><br>
    <a href="{% url 'home' %}" class="button-main-page">На главную</a>
    <br><br>
</div>
{% endblock content %}