{% extends 'base.html' %}
{% load static %}


{% block title %}
Поиск
{% endblock title %}

{% block sidebar %}
<a href="{% url 'post_search' %}"><img src="{% static 'equipment/images/search.png' %}" class="search-img"></a>
<p class="total-sum-equipment">Найдено позиций: {{ results.count }}</p>
<br>
{% if request.user.is_authenticated %}
    <div id="name">{{ request.user.first_name }} {{ request.user.last_name }}</div>
{% endif %}
{% endblock sidebar %}

{% block content %}
    {% if query %}
        <h2><i>Оборудование по  запросу: "{{ query }}"</i></h2>
        <h3>{% with results.count as total_results %}
        Найдено: {{ total_results }} шт {% endwith %}
        </h3>
        {% for post in results %}
            <div class="wrapper-elem">
                <div id="mytext">
                    <ul>
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                        <li><p>{{ post.description|truncatewords:5 }}</li>
                        <li><p><b>место установки :</b> {{ post.place|truncatewords:4 }}</li>
                    </ul>
                </div>
                <div id="search-img-elem"><img src="{{post.photo.url}}"></div>
            </div>
            <br><br>
        {% empty %}    
        <p>По вашему запросу ничего не найдено</p>
        {% endfor %}
        <a href="{% url 'post_search' %}" class="search-again">Поиск заново</a><br><br>
    {% else %}
        <h1>Поиск  оборудования</h1>
        <form method="get" class="example">
            {{ form.as_p }}
            <input type="submit" value="Поиск">
        </form>
    {% endif %}        
{% endblock content %}

