{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}

{% block sidebar %}
<a href="{% url 'post_search' %}"><img src="{% static 'equipment/images/search.png' %}" class="search-img"></a>
<p class="total-sum-equipment">Всего позиций: {{ total }}</p>
<br>
{% if request.user.is_authenticated %}
    <div id="name">{{ request.user.first_name }} {{ request.user.last_name }}</div>
{% endif %}
{% endblock sidebar %}

{% block content %}
    {% for post in posts %}
    {% if post.photo %}
        <div class="{% cycle 'container-post-not-even' 'container-post-even' %}">
            <p><img class="img-article-left" src="{{post.photo.url}}"></p>
            <div class="post-text">
                <p><strong>наименование: </strong>{{ post.title }}</p>
                <p><strong>место установки: </strong>{{ post.place }}</p>
                <p><strong>категория оборудования: </strong>{{ post.cat}}</p>
                <p><strong>описание: </strong>{{ post.description|truncatewords:15 }}</p> 
            </div>
            <a href="{{ post.get_absolute_url }}" class="button-view-post">Просмотр</a>
        </div>
    {% endif %}    
    {% endfor %}
    <br><br>
    {% include "equipment/pagination.html" with page=posts %}    
{% endblock content %}