/* Фиксируем боковую панель на всю высоту страницы */
.home-img {
    width: 35px;
    height: 35px;
}

.login-img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Стили ссылок боковой панели и кнопки выпадающего подменю */
  .sidenav a, .dropdown-btn {
    padding: 5px 20px ;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* Стили при наведении курсора мыши */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Основной контент */
  .content {
    margin-left: 250px; /* Такая же ширина, как у бокового меню */
    font-size: 20px; /* Увеличим текст, чтобы включить прокрутку */
    padding: 0px 10px;
  }
  
  /* Добавим активный класс для активной выпадающей кнопки */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Выпадающий контейнер (по умолчанию скрытый). Необязательно: добавляем более светлый цвет фона и небольшой левый отступ, чтобы изменить дизайн выпадающего подменю */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Необязательно: Стили иконки уголка */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Некоторые медиа-запросы для адаптивности */
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a,.dropdown-btn {font-size: 18px;}
  }
  
  @media screen and (max-width: 450px) {
      .sidenav {width: 150px;}
      .main {margin-left:150px;}
      .fa-caret-down {display:none;}
  }
  
  @media screen and (max-width: 300px) {
      .sidenav {width: 120px;}
      .main {margin-left:120px;}
  }
  
  * {
  box-sizing: border-box;
}



/* Стили поля поиска */
form.example input[type=text] {
  padding: 10px 10px 10px 40px;
  font-size: 15px;
  display: inline-block;
  width: 80%;
  background: #f8f5f5;
  
}




/* Стили кнопки отправки данных */
form.example button {
padding: 10px 10px 10px 10px;
display: inline-block;
width: 15%;
padding: 11px;
background: green;
color: white;
font-size: 15px;
border-left: none; /* Удаляем двойную рамку */
cursor: pointer;
}

form.example button:hover {
  background:rgb(4, 72, 4);
}

/* Сбрасываем обтекание */
form.example::after {
  content: "";
  clear: both;
  display: table;
}




/* БЛОК КОНТЕНТ */
/* БЛОК КОНТЕНТ */
/* БЛОК КОНТЕНТ */



.total-sum-equipment { 
    padding: 10px 10px 10px 40px;
    display: inline-block;
    height: 20px;
    color: #dbcfcf;
    font-size:large;
}    

img {width: 200px; height: 200px;}

img.img-article-left {
	max-width: 200px;
	height: 230px;
	float: left;
    padding: 10px 30px 5px 20px; 
    
} 

.container-post-not-even {

    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    width: 500px;
    height: 280px;
    display: inline-block;
    background-color: #b8a5a5be; 
    border-radius: 20px;
    font-size: 17px;
}

.container-post-even {

    margin-top: 20px;
    float: right; 
    margin-right: 20px;
    width: 500px;
    height: 280px;
    display: inline-block;
    background-color: #dbcfcf; 
    border-radius: 20px;
    font-size: 17px;
}

.button-view-post {
    display: block;
    border-radius: 5px;
    background: green;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }

  .post-text {
    padding: 5px 10px 5px 5px;
    width: 300px;
    height: 250px; 
    display: inline-block;
  }

/* Стили при наведении курсора мыши */
.container-post-not-even a:hover {
    background-color: #0a4e0a;
  }

.container-post-even a:hover {
    background-color: #0a4e0a;
  }


/* КОНЕЦ БЛОКФ КОНТЕНТ */
/* КОНЕЦ БЛОКФ КОНТЕНТ */
/* КОНЕЦ БЛОКФ КОНТЕНТ */